// ========== FONTS 

@font-face {
    font-family: 'Quicksand';
    src: url('../fontsQuicksand-Regular.woff2') format('woff2'),
        url('../fontsQuicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fontsQuicksand-Bold.woff2') format('woff2'),
        url('../fontsQuicksand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fontsQuicksand-Medium.woff2') format('woff2'),
        url('../fontsQuicksand-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

