
// ===== COLORS 
$blue: #0674ec;
$text: #6c6c6c;
$violet: #7347c1;
$red: #ff7c7e;
$green: #91de75;
$bg-color: #eff1f5;


// =========== FONTS 

%quicksand-regular {
    font-family: 'Quicksand';
    font-weight: 400;
}
%quicksand-medium {
    font-family: 'Quicksand';
    font-weight: 500;
}
%quicksand-bold {
    font-family: 'Quicksand';
    font-weight: 700;
}


// ========== ALL

%btn  {
    border-radius: 30px;
    font-size: 16px;
    background: $blue;
    color: #fff;
    padding: 17px 33px;
}

%socials-position {
    display: flex;
    justify-content: center;
    align-items: center;
}

          