
// ===== COLORS 
$blue: #0674ec;
$text: #6c6c6c;
$violet: #7347c1;

// =========== FONTS 

%quicksand-regular {
    font-family: 'Quicksand';
    font-weight: 400;
}
%quicksand-medium {
    font-family: 'Quicksand';
    font-weight: 500;
}
%quicksand-bold {
    font-family: 'Quicksand';
    font-weight: 700;
}

// ========== ALL

          